@(customerForm: play.data.Form[models.Customer], projektList: List[Projekt], customerid: Long)

@main("Kunde bearbeiten"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Kunde bearbeiten</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        @helper.form(action = routes.CustomerController.update(customerid)){
            @helper.inputText(customerForm("firstname"), 'id -> "firstname", '_label -> "Vorname", 'class -> "form-control")
            @helper.inputText(customerForm("lastname"), '_label -> "Nachname", 'class -> "form-control")
            @helper.inputText(customerForm("email"), '_label -> "Email", 'class -> "form-control required")
            @helper.select(
                field = customerForm("projektListholder"),
                options = (projektList.map(projekt => projekt.getId().toString() -> projekt.getProjektName())),
                '_label -> "Auftraggeber von Projekt",
                'class -> "form-control",
                'multiple -> "Multiple"
            )

            <button type="submit" class="btn btn-success" value="Aendern" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ändern </button>
            <button type="reset" class="btn btn-danger" value="Reset" ><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Zurücksetzen </button>

        }
        </div>
    </div>
}