@()
<div class="row">
    <div class="col-xs-12">
        <h5>Anzeigen</h5>
        <ul>
            <li><a href="/user">Alle Mitarbeiter</a></li>
            <li><a href="/projekt">Alle Projekte</a></li>
            <li><a href="/task">Alle Tasks</a></li>
            <li><a href="/customer">Alle Kunden</a></li>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>Anlegen</h5>
        <ul>
            <li><a href="/adduser">Neuer Mitarbeiter</a></li>
            <li><a href="/addprojekt">Neues Projekt</a></li>
            <li><a href="/addtask">Neuer Task</a></li>
            <li><a href="/addcustomer">Neuer Kunde</a></li>

        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <ul>
            <li><a href="/search">Projekt suchen</a></li>
        </ul>
    </div>
</div>

