@(task: models.Task)

@main("Task") {

    <h1>Task @task.getTaskName Details</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mitarbeiter</th>
                <th>Projekt</th>
                <th>Bearbeiten</th>
                <th>Löschen</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@task.getId</td>
                <td>@task.getTaskName</td>
                <td><a href="/user/@task.getUser.getId">@task.getUser</a></td>
                <td>Projekt</td>
                <td><a href="/task/@task.getId()" class="details-button"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="/deletetask/@task.getId()" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a>
                </td>
            </tr>

        </tbody>
    </table>

}